In [1]:
import tabula
import pandas as pd
import numpy as np
from datetime import datetime

In [13]:
filepath = r"D:\Web Development\Office-Automation\debit\2017-04_to_2018-03.pdf"
df = tabula.read_pdf(filepath,relative_area=True, area=[5, 0, 95, 100], pages="all")
df

[    Srno.              Bank     Challanno Challan Date  Challanamt
 0       1       S B I  AGRA       .501963    27-JUN-17      148520  \
 1       2   S B I KOSIKALAN       .514844    25-JAN-18        3812
 2       3     S B I  JHANSI  .IKOC6808336    06-NOV-17     1727989
 3       4  S B I  SABALGARH        016413    09-FEB-18       25055
 4       5  S B I SULEMSARAI        028593    18-MAY-17      725501
 ..    ...               ...           ...          ...         ...
 63     64        S B I ETAH        185090    17-JUL-17        6615
 64     65        S B I ETAH        185091    19-JUL-17       15730
 65     66        S B I ETAH        185092    19-JUL-17     5923936
 66     67        S B I ETAH        185093    20-JUL-17       52500
 67     68        S B I ETAH        185094    21-JUL-17       33623

        Accunit     TCNUMBER
 0   NCR AGC 04  20170700221
 1   NCR AGC 04  20180200658
 2   NCR JHS 03  20171100454
 3   NCR JHS 03  20180200659
 4   NCR ALD 02  20170500111
 ..         ...          ...
 63  NCR ALD 02  20170700223
 64  NCR ALD 02  20170700223
 65  NCR ALD 02  20170700223
 66  NCR ALD 02  20170700223
 67  NCR ALD 02  20170800286

 [68 rows x 7 columns],
     Srno.        Bank  Challanno Challan Date  Challanamt     Accunit
 0      69  S B I ETAH     185095    21-JUL-17     6600000  NCR ALD 02  \
 1      70  S B I ETAH     185096    23-JUL-17       52500  NCR ALD 02
 2      71  S B I ETAH     185097    25-JUL-17       78648  NCR ALD 02
 3      72  S B I ETAH     185098    25-JUL-17     5600000  NCR ALD 02
 4      73  S B I ETAH     185099    28-JUL-17      105000  NCR ALD 02
 ..    ...         ...        ...          ...         ...         ...
 63    132  S B I ETAH     185591    30-MAY-17      106125  NCR ALD 02
 64    133  S B I ETAH     185592    31-MAY-17       79675  NCR ALD 02
 65    134  S B I ETAH     185593    01-JUN-17       77630  NCR ALD 02
 66    135  S B I ETAH     185594    02-JUN-17       10645  NCR ALD 02
 67    136  S B I ETAH     185595    03-JUN-17       96695  NCR ALD 02

        TCNUMBER
 0   20170800286
 1   20170800286
 2   20170800286
 3   20170800286
 4   20170800286
 ..          ...
 63   2017060165
 64   2017060165
 65  20170600167
 66  20170600167
 67  20170600167

 [68 rows x 7 columns],
     Srno.         Bank  Challanno Challan Date  Challanamt     Accunit
 0     137   S B I ETAH     185596    05-JUN-17       69465  NCR ALD 02  \
 1     138   S B I ETAH     185597    05-JUN-17       15120  NCR ALD 02
 2     139   S B I ETAH     185598    06-JUN-17       66665  NCR ALD 02
 3     140   S B I ETAH     185599    07-JUN-17       93980  NCR ALD 02
 4     141   S B I ETAH     185600    08-JUN-17       28005  NCR ALD 02
 ..    ...          ...        ...          ...         ...         ...
 63    200   S B I ETAH     185661    09-AUG-17       35995  NCR ALD 02
 64    201   S B I ETAH     185662    09-AUG-17       54375  NCR ALD 02
 65    202   S B I ETAH     185663    10-AUG-17       47190  NCR ALD 02
 66    203  SBI JALESAR     185664    11-AUG-17       43765  NCR ALD 02
 67    204   S B I ETAH     185665    14-AUG-17       76645  NCR ALD 02

        TCNUMBER
 0   20170600167
 1   20170600167
 2   20170600167
 3   20170600167
 4   20170600167
 ..          ...
 63  20170800287
 64  20170800287
 65  20170800287
 66  20170800288
 67  20170800288

 [68 rows x 7 columns],
     Srno.        Bank  Challanno Challan Date  Challanamt     Accunit
 0     205  S B I ETAH     185666    14-AUG-17       61905  NCR ALD 02  \
 1     206  S B I ETAH     185667    14-AUG-17       14415  NCR ALD 02
 2     207  S B I ETAH     185668    15-AUG-17       17265  NCR ALD 02
 3     208  S B I ETAH     185669    15-AUG-17       44650  NCR ALD 02
 4     209  S B I ETAH     185670    17-AUG-17       48640  NCR ALD 02
 ..    ...         ...        ...          ...         ...         ...
 63    268  S B I ETAH     185729    17-AUG-17       33073  NCR ALD 02
 64    269  S B I ETAH     185730    18-AUG-17        6615  NCR ALD 02
 65    270  S B I ETAH     185731    18-AUG-17       39690  NCR ALD 02
 66    271  S B I ETAH     185732    10-AUG-17     7022997  NCR ALD 02
 67    272  S B I ETAH     185733    25-AUG-17     3967998  NCR ALD 02

        TCNUMBER
 0   20170800288
 1   20170800288
 2   20170800288
 3   20170800288
 4   20170800288
 ..          ...
 63  20170800288
 64  20170800288
 65  20170800288
 66  20170800288
 67  20170900348

 [68 rows x 7 columns],
     Srno.           Bank  Challanno Challan Date  Challanamt     Accunit
 0     273     S B I ETAH     185734    28-AUG-17        2500  NCR ALD 02  \
 1     274     S B I ETAH     185735    29-AUG-17        5515  NCR ALD 02
 2     275     S B I ETAH     185736    28-AUG-17     6450000  NCR ALD 02
 3     276     S B I ETAH     185737    07-SEP-17       48725  NCR ALD 02
 4     277     S B I ETAH     185738    24-OCT-17        9135  NCR ALD 02
 ..    ...            ...        ...          ...         ...         ...
 63    336     S B I ETAH     185800    06-NOV-17       45825  NCR ALD 02
 64    337     SBI LADPUR     186030    23-MAY-17       17160  NCR ALD 02
 65    338  S B I HATHRAS     186065    24-JUN-17       14610  NCR ALD 02
 66    339     SBI LADPUR     186084    13-JUL-17       11252  NCR ALD 02
 67    340     SBI LADPUR     186090    24-JUL-17       11060  NCR ALD 02

        TCNUMBER
 0   20170900348
 1   20170900348
 2   20170900348
 3   20170900349
 4   20171100453
 ..          ...
 63  20171100454
 64   2017060165
 65  20170700222
 66  20170800286
 67  20170800286

 [68 rows x 7 columns],
     Srno.           Bank  Challanno Challan Date  Challanamt     Accunit
 0     341     SBI LADPUR     186091    24-JUL-17       13171  NCR ALD 02  \
 1     342  S B I HATHRAS     186101    01-AUG-17       10141  NCR ALD 02
 2     343  S B I HATHRAS     186102    01-AUG-17       10290  NCR ALD 02
 3     344  S B I HATHRAS     186103    04-AUG-17       10775  NCR ALD 02
 4     345  S B I HATHRAS     186104    04-AUG-17        9520  NCR ALD 02
 ..    ...            ...        ...          ...         ...         ...
 63    404  S B I HATHRAS     186450    15-MAY-17      163286  NCR ALD 02
 64    405      SBI SASNI     186526    07-JUL-17        7642  NCR ALD 02
 65    406      SBI SASNI     186531    12-JUL-17       13011  NCR ALD 02
 66    407      SBI SASNI     186614    03-OCT-17       10653  NCR ALD 02
 67    408      SBI SASNI     186661    10-NOV-17        8142  NCR ALD 02

        TCNUMBER
 0   20170800286
 1   20170800286
 2   20170800286
 3   20170800286
 4   20170800286
 ..          ...
 63  20170600167
 64  20170700223
 65  20170700223
 66  20171000400
 67  20171100456

 [68 rows x 7 columns],
     Srno.             Bank  Challanno Challan Date  Challanamt     Accunit
 0     409        SBI SASNI     186662    10-NOV-17        7510  NCR ALD 02  \
 1     410      S B I  AGRA     198102    29-JAN-18      112449  NCR AGC 04
 2     411      S B I  AGRA     198120    08-FEB-18       21924  NCR AGC 04
 3     412      S B I  AGRA     199468    26-DEC-17       37422  NCR AGC 04
 4     413      S B I  AGRA     199520    20-JUN-17       65250  NCR AGC 04
 ..    ...              ...        ...          ...         ...         ...
 63    472  S B I KOSIKALAN     280343    13-APR-17      234360  NCR JHS 03
 64    473  S B I KOSIKALAN     280344    15-APR-17      155372  NCR JHS 03
 65    474  S B I KOSIKALAN     280345    15-APR-17      176861  NCR JHS 03
 66    475  S B I KOSIKALAN     280346    17-APR-17      206898  NCR JHS 03
 67    476  S B I KOSIKALAN     280347    17-APR-17      157513  NCR JHS 03

        TCNUMBER
 0   20171100456
 1   20180200659
 2   20180200661
 3   20180100576
 4   20170700221
 ..          ...
 63  20170500109
 64  20170500109
 65  20170500109
 66  20170500109
 67  20170500109

 [68 rows x 7 columns],
     Srno.             Bank  Challanno Challan Date  Challanamt     Accunit
 0     477  S B I KOSIKALAN     280348    18-APR-17      208055  NCR JHS 03  \
 1     478  S B I KOSIKALAN     280349    19-APR-17      174907  NCR JHS 03
 2     479  S B I KOSIKALAN     280350    20-APR-17      178921  NCR JHS 03
 3     480      S B I  AGRA     281242    27-JUN-17      251647  NCR AGC 04
 4     481      S B I  AGRA     281243    27-JUN-17     2014575  NCR AGC 04
 ..    ...              ...        ...          ...         ...         ...
 63    540      SBI DANKAUR     327919    09-MAY-17       48753  NCR ALD 02
 64    541      SBI DANKAUR     327920    09-MAY-17      104723  NCR ALD 02
 65    542      SBI DANKAUR     327921    15-MAY-17      104112  NCR ALD 02
 66    543      SBI DANKAUR     327922    15-MAY-17       79132  NCR ALD 02
 67    544      SBI DANKAUR     327923    15-MAY-17      119993  NCR ALD 02

        TCNUMBER
 0   20170500109
 1   20170500109
 2   20170500110
 3   20170700221
 4   20170700221
 ..          ...
 63  20170500111
 64  20170500111
 65  20170500111
 66  20170500111
 67  20170500111

 [68 rows x 7 columns],
     Srno.         Bank  Challanno Challan Date  Challanamt     Accunit
 0     545  SBI DANKAUR     327924    15-MAY-17       89170  NCR ALD 02  \
 1     546  SBI DANKAUR     327925    15-MAY-17       97011  NCR ALD 02
 2     547  SBI DANKAUR     327926    15-MAY-17       80317  NCR ALD 02
 3     548  SBI DANKAUR     327927    15-MAY-17      106581  NCR ALD 02
 4     549  SBI DANKAUR     327928    17-MAY-17       98848  NCR ALD 02
 ..    ...          ...        ...          ...         ...         ...
 63    608  S B I PANKI     339176    03-JUL-17      110610  NCR ALD 02
 64    609  S B I PANKI     339185    10-JUL-17      189041  NCR ALD 02
 65    610  S B I PANKI     339187    12-JUL-17     2154826  NCR ALD 02
 66    611  S B I PANKI     339192    15-JUL-17      130221  NCR ALD 02
 67    612  S B I PANKI     339194    17-JUL-17      119500  NCR ALD 02

        TCNUMBER
 0   20170500111
 1   20170500111
 2   20170500111
 3   20170500111
 4   20170500111
 ..          ...
 63  20170700222
 64  20170700222
 65  20170700222
 66  20170700223
 67  20170700223

 [68 rows x 7 columns],
     Srno.                Bank Challanno Challan Date  Challanamt     Accunit
 0     613         S B I PANKI    339255    01-SEP-17      142920  NCR ALD 02  \
 1     614         S B I PANKI    339334    20-NOV-17       27091  NCR ALD 02
 2     615         S B I PANKI    339383    20-NOV-17      107125  NCR ALD 02
 3     616         S B I PANKI    339384    20-NOV-17       92050  NCR ALD 02
 4     617         S B I PANKI    339462    06-JAN-18       70280  NCR ALD 02
 ..    ...                 ...       ...          ...         ...         ...
 63    676       S B I  MORENA    349932    12-APR-17      450100  NCR JHS 03
 64    677       S B I  MORENA    349933    12-APR-17     2367450  NCR JHS 03
 65    678      S B I DABHAURA    350144    02-MAY-17       63045  NCR ALD 02
 66    679         S B I KALPI    350195    05-JUL-17       52730  NCR JHS 03
 67    680  S B I SHANKAR GARH    350303    22-JUL-17       84275  NCR ALD 02

        TCNUMBER
 0   20170900350
 1   20171100456
 2   20171100456
 3   20171100456
 4   20180200659
 ..          ...
 63  20170400052
 64  20170400052
 65  20170500111
 66  20170700222
 67  20170700223

 [68 rows x 7 columns],
     Srno.                Bank  Challanno Challan Date  Challanamt     Accunit
 0     681  S B I SHANKAR GARH     350304    23-JUL-17       61795  NCR ALD 02  \
 1     682  S B I SHANKAR GARH     350318    08-AUG-17       66265  NCR ALD 02
 2     683        S B I  DABRA     350379    04-SEP-17      194140  NCR JHS 03
 3     684         S B I  ORAI     350470    24-JUL-17      326144  NCR JHS 03
 4     685       S B I  MORENA     350822    05-MAY-17     5594584  NCR JHS 03
 ..    ...                 ...        ...          ...         ...         ...
 63    744          SBI BAYANA     372615    08-JAN-18        1570  NCR AGC 04
 64    745          SBI BAYANA     372616    08-JAN-18       11960  NCR AGC 04
 65    746          SBI BAYANA     372617    08-JAN-18        2035  NCR AGC 04
 66    747          SBI BAYANA     372618    09-JAN-18        1330  NCR AGC 04
 67    748          SBI BAYANA     372619    10-JAN-18        1225  NCR AGC 04

        TCNUMBER
 0   20170700223
 1   20170800286
 2   20170900348
 3   20170700223
 4   20170500110
 ..          ...
 63  20180100577
 64  20180100577
 65  20180100577
 66  20180100577
 67  20180200594

 [68 rows x 7 columns],
     Srno.                 Bank  Challanno Challan Date  Challanamt
 0     749           SBI BAYANA     372620    11-JAN-18        1175  \
 1     750           SBI BAYANA     372621    12-JAN-18        1170
 2     751           SBI BAYANA     372622    15-JAN-18        1270
 3     752           SBI BAYANA     372623    15-JAN-18        2160
 4     753           SBI BAYANA     372624    15-JAN-18        1070
 ..    ...                  ...        ...          ...         ...
 63    812  S B I MANAURI BAZAR     389265    20-NOV-17        1160
 64    813  S B I MANAURI BAZAR     389266    20-NOV-17         730
 65    814  S B I MANAURI BAZAR     389295    19-DEC-17         285
 66    815   S B I JOHNSTONGANJ     389352    03-NOV-17     2943887
 67    816   S B I JOHNSTONGANJ     389557    27-DEC-17     2401719

        Accunit     TCNUMBER
 0   NCR AGC 04  20180200594
 1   NCR AGC 04  20180200594
 2   NCR AGC 04  20180200594
 3   NCR AGC 04  20180200594
 4   NCR AGC 04  20180200594
 ..         ...          ...
 63  NCR ALD 02  20171200511
 64  NCR ALD 02  20171200511
 65  NCR ALD 02  20180100576
 66  NCR ALD 02  20171100453
 67  NCR ALD 02  20171200517

 [68 rows x 7 columns],
     Srno.                Bank  Challanno Challan Date  Challanamt     Accunit
 0     817  S B I JOHNSTONGANJ     389575    15-JAN-18     2198858  NCR ALD 02  \
 1     818  S B I JOHNSTONGANJ     389576    15-JAN-18     2227691  NCR ALD 02
 2     819  S B I JOHNSTONGANJ     389577    16-JAN-18     2503169  NCR ALD 02
 3     820    S B I JANAMSTHAN     389596    05-FEB-18     2920485  NCR ALD 02
 4     821         SBI JALESAR     395906    28-APR-17       28845  NCR ALD 02
 ..    ...                 ...        ...          ...         ...         ...
 63    880       S B I HATHRAS     396212    28-APR-17        6540  NCR ALD 02
 64    881       S B I HATHRAS     396213    29-APR-17       10995  NCR ALD 02
 65    882       S B I HATHRAS     396214    01-MAY-17        8965  NCR ALD 02
 66    883       S B I HATHRAS     396215    01-MAY-17        8685  NCR ALD 02
 67    884       S B I HATHRAS     396216    02-MAY-17       14345  NCR ALD 02

        TCNUMBER
 0   20180100577
 1   20180100577
 2   20180100577
 3   20180200658
 4   20170500109
 ..          ...
 63  20170500109
 64  20170500109
 65  20170500109
 66  20170500109
 67  20170500110

 [68 rows x 7 columns],
     Srno.           Bank  Challanno Challan Date  Challanamt     Accunit
 0     885  S B I HATHRAS     396217    03-MAY-17        8460  NCR ALD 02  \
 1     886  S B I HATHRAS     396218    04-MAY-17       10135  NCR ALD 02
 2     887  S B I HATHRAS     396219    05-MAY-17        5585  NCR ALD 02
 3     888  S B I HATHRAS     396220    06-MAY-17       11505  NCR ALD 02
 4     889  S B I HATHRAS     396221    08-MAY-17        8695  NCR ALD 02
 ..    ...            ...        ...          ...         ...         ...
 63    948     S B I ETAH     396666    21-NOV-17       56255  NCR ALD 02
 64    949     S B I ETAH     396667    22-NOV-17       46005  NCR ALD 02
 65    950     S B I ETAH     396668    23-NOV-17       29260  NCR ALD 02
 66    951     S B I ETAH     396669    24-NOV-17       31855  NCR ALD 02
 67    952     S B I ETAH     396670    27-NOV-17       41200  NCR ALD 02

        TCNUMBER
 0   20170500110
 1   20170500110
 2   20170500110
 3   20170500110
 4   20170500110
 ..          ...
 63  20171100456
 64  20171200511
 65  20171200511
 66  20171200511
 67  20171200511

 [68 rows x 7 columns],
     Srno.        Bank  Challanno Challan Date  Challanamt     Accunit
 0     953  S B I ETAH     396671    27-NOV-17       48930  NCR ALD 02  \
 1     954  S B I ETAH     396672    27-NOV-17        5275  NCR ALD 02
 2     955  S B I ETAH     396673    28-NOV-17       47395  NCR ALD 02
 3     956  S B I ETAH     396674    30-NOV-17       42180  NCR ALD 02
 4     957  S B I ETAH     396675    30-NOV-17       28350  NCR ALD 02
 ..    ...         ...        ...          ...         ...         ...
 63   1016  S B I ETAH     396734    29-JAN-18        2695  NCR ALD 02
 64   1017  S B I ETAH     396735    30-JAN-18       13825  NCR ALD 02
 65   1018  S B I ETAH     396736    31-JAN-18       34625  NCR ALD 02
 66   1019  S B I ETAH     396737    01-FEB-18       16895  NCR ALD 02
 67   1020  S B I ETAH     396738    02-FEB-18       23845  NCR ALD 02

        TCNUMBER
 0   20171200511
 1   20171200511
 2   20171200511
 3   20171200511
 4   20171200511
 ..          ...
 63  20180200658
 64  20180200658
 65  20180200658
 66  20180200658
 67  20180200659

 [68 rows x 7 columns],
     Srno.        Bank  Challanno Challan Date  Challanamt     Accunit
 0    1021  S B I ETAH     396739    03-FEB-18       36110  NCR ALD 02  \
 1    1022  S B I ETAH     396740    05-FEB-18       17730  NCR ALD 02
 2    1023  S B I ETAH     396741    05-FEB-18        3115  NCR ALD 02
 3    1024  S B I ETAH     396742    06-FEB-18       35193  NCR ALD 02
 4    1025  S B I ETAH     396743    07-FEB-18       37155  NCR ALD 02
 ..    ...         ...        ...          ...         ...         ...
 63   1084   SBI SIRSA     397043    10-APR-17        4400  NCR ALD 02
 64   1085   SBI SIRSA     397044    10-APR-17        5445  NCR ALD 02
 65   1086   SBI SIRSA     397045    12-APR-17        5540  NCR ALD 02
 66   1087   SBI SIRSA     397046    12-APR-17        6330  NCR ALD 02
 67   1088   SBI SIRSA     397047    13-APR-17        6225  NCR ALD 02

        TCNUMBER
 0   20180200659
 1   20180200659
 2   20180200659
 3   20180200659
 4   20180200659
 ..          ...
 63  20170500109
 64  20170500109
 65  20170500109
 66  20170500109
 67  20170500109

 [68 rows x 7 columns],
     Srno.            Bank  Challanno Challan Date  Challanamt     Accunit
 0    1089       SBI SIRSA     397050    17-APR-17        4465  NCR ALD 02  \
 1    1090  SBI MAKKHANPUR     397301    22-APR-17        5085  NCR ALD 02
 2    1091  SBI MAKKHANPUR     397302    23-APR-17        5495  NCR ALD 02
 3    1092  SBI MAKKHANPUR     397303    24-APR-17        5500  NCR ALD 02
 4    1093  SBI MAKKHANPUR     397304    25-APR-17        5435  NCR ALD 02
 ..    ...             ...        ...          ...         ...         ...
 63   1152   S B I HATHRAS     397823    08-MAY-17       22500  NCR ALD 02
 64   1153   S B I HATHRAS     397824    08-MAY-17         600  NCR ALD 02
 65   1154   S B I HATHRAS     397825    09-MAY-17       64190  NCR ALD 02
 66   1155   S B I HATHRAS     397826    11-MAY-17       53900  NCR ALD 02
 67   1156   S B I HATHRAS     397827    11-MAY-17       23120  NCR ALD 02

        TCNUMBER
 0   20170500109
 1   20170500109
 2   20170500109
 3   20170500109
 4   20170500109
 ..          ...
 63  20170500110
 64  20170500110
 65  20170500110
 66  20170500110
 67  20170500110

 [68 rows x 7 columns],
     Srno.           Bank  Challanno Challan Date  Challanamt     Accunit
 0    1157  S B I HATHRAS     397828    15-MAY-17       52155  NCR ALD 02  \
 1    1158  S B I HATHRAS     397829    10-MAY-17       71310  NCR ALD 02
 2    1159  S B I HATHRAS     397830    16-MAY-17       44486  NCR ALD 02
 3    1160  S B I HATHRAS     397831    16-MAY-17       22910  NCR ALD 02
 4    1161  S B I HATHRAS     397832    16-MAY-17       65335  NCR ALD 02
 ..    ...            ...        ...          ...         ...         ...
 63   1220  S B I HATHRAS     397891    15-JUL-17       25135  NCR ALD 02
 64   1221  S B I HATHRAS     397892    17-JUL-17       47456  NCR ALD 02
 65   1222  S B I HATHRAS     397893    18-JUL-17       52520  NCR ALD 02

In [4]:
i = 0
j = 0
for table in df:
    print(len(table.columns))
    if len(table.columns) == 8:
        i += 1
    j += 1
i, j

7
7
7
7

(0, 4)

In [5]:
df[1]

,Srno.,Bank,Challanno,Challan Date,Challanamt,Accunit,TCNUMBER
0,68,SBI GOVERDHAN,63,14-MAR-22,1030,NCR AGC 04,321102203100669
1,69,SBI TALBEHAT,63,08-OCT-21,550,NCR JHS 03,321102203100669
2,70,SBI TALBEHAT,64,09-OCT-21,495,NCR JHS 03,321102203100669
3,71,SBI GOVERDHAN,64,15-MAR-22,685,NCR AGC 04,321102203100669
4,72,SBI TALBEHAT,65,10-OCT-21,410,NCR JHS 03,321102203100669
...,...,...,...,...,...,...,...
63,131,SBI DEEG,727,05-MAR-22,425,NCR AGC 04,321102203100589
64,132,SBI TALBEHAT,727,12-NOV-21,415,NCR JHS 03,321102203100589
65,133,SBI TALBEHAT,750,04-DEC-21,510,NCR JHS 03,321102201100514
66,134,S B I MAUDAHA,977,29-OCT-21,26350,NCR JHS 03,321102111100379
67,135,S B I MAUDAHA,993,15-NOV-21,44440,NCR JHS 03,321102111100381

In [14]:
main_df = pd.DataFrame()
for table in df:
    current_df = table
    current_df.columns = ["Sr.No.", "Bank", "Challan No.", "Challan Date", "Challan Amt", "ACC Unit", "TC Number"]
    if main_df.empty:
        main_df = current_df
    else:
        main_df = pd.concat([main_df, current_df])
main_df = main_df[:-1]
main_df

,Sr.No.,Bank,Challan No.,Challan Date,Challan Amt,ACC Unit,TC Number
0,1.0,S B I AGRA,.501963,27-JUN-17,148520.0,NCR AGC 04,20170700221.0
1,2.0,S B I KOSIKALAN,.514844,25-JAN-18,3812.0,NCR AGC 04,20180200658.0
2,3.0,S B I JHANSI,.IKOC6808336,06-NOV-17,1727989.0,NCR JHS 03,20171100454.0
3,4.0,S B I SABALGARH,016413,09-FEB-18,25055.0,NCR JHS 03,20180200659.0
4,5.0,S B I SULEMSARAI,028593,18-MAY-17,725501.0,NCR ALD 02,20170500111.0
...,...,...,...,...,...,...,...
20,16054.0,S B I ALLAHABAD,UTS310817,31-AUG-17,1365.0,NCR ALD 02,20170900348
21,16055.0,S B I ALLAHABAD,UTS311217,31-DEC-17,1070.0,NCR ALD 02,20180100576
22,16056.0,S B I VINDHYACHAL,UTS311217,31-DEC-17,575.0,NCR ALD 02,20180100576
23,16057.0,S B I JHANSI,V14092774,28-MAR-18,49000000.0,NCR JHS 06,20180300147
24,16058.0,S B I ALLAHABAD,nh918058691765,28-FEB-18,2991.0,NCR ALD 02,201803-04911

In [15]:
main_df.to_csv("scroll2.csv", index=False)

In [17]:
debit_scroll.dtypes

Sr.No.          float64
Bank             object
Challan No.      object
Challan Date     object
Challan Amt     float64
ACC Unit         object
TC Number        object
dtype: object

In [11]:
i = 0
for item in list(main_df["Challan Date"]):
    try:
        datetime.strptime(item, "%d-%b-%y").date()
    except:
        print(i, ": ", item)
    i += 1

1 :  nan
8884 :  nan
8886 :  nan
8888 :  nan
8890 :  nan

In [23]:
debit_scroll = pd.read_csv(r"D:\Web Development\Office-Automation\scroll2.csv")
debit_scroll

,Sr.No.,Bank,Challan No.,Challan Date,Challan Amt,ACC Unit,TC Number
0,1,S B I KHAJURAHO,68055,13-Nov-15,36640.0,NCR JHS 03,20151100623
1,2,S.B.I. ETAWAH,148835,22-Feb-11,15000.0,NCR TRF 11,NaN
2,3,S.B.I. KANPUR,153174,15-Feb-11,90007.0,NCR TRF 11,NaN
3,4,S.B.I. KANPUR,153175,17-Feb-11,66371.0,NCR TRF 11,NaN
4,5,S.B.I. KANPUR,153177,17-Feb-11,34514.0,NCR TRF 11,NaN
...,...,...,...,...,...,...,...
21392,16054,S B I ALLAHABAD,UTS310817,31-Aug-17,1365.0,NCR ALD 02,20170900348
21393,16055,S B I ALLAHABAD,UTS311217,31-Dec-17,1070.0,NCR ALD 02,20180100576
21394,16056,S B I VINDHYACHAL,UTS311217,31-Dec-17,575.0,NCR ALD 02,20180100576
21395,16057,S B I JHANSI,V14092774,28-Mar-18,49000000.0,NCR JHS 06,20180300147
21396,16058,S B I ALLAHABAD,nh918058691765,28-Feb-18,2991.0,NCR ALD 02,201803-04911

In [24]:
debit_scroll["Challan Date"] = debit_scroll["Challan Date"].apply(
                lambda x: datetime.strptime(x, "%d-%b-%y").date() if len(x) > 7 else datetime.strptime(x, "%d%m%y").date())

In [32]:
credit_scroll = pd.read_csv(r"D:\Web Development\Office-Automation\scroll1.csv")
credit_scroll

       Sr.No.   Challan No. Scroll Date Scroll No.  Scroll Amt
0           1      DD945808   24-Oct-11   24101164       150.0
1           2   11306405893   09-Nov-11  911117298     17121.0
2           3     SDL665290   19-Jul-12   19071264     84388.0
3           4   N2011300120   30-Jun-11      NEFT1       300.0
4           5  AMENDED02/12   29-Feb-12      NEFT3     10400.0
...       ...           ...         ...        ...         ...
22659   18301         22225   17-Dec-22     171222    110473.0
22660   18302         15002   02-Dec-22      21222      9055.0
22661   18303         15014   17-Dec-22     171222     11065.0
22662   18304           435   17-Dec-22     171222       435.0
22663   18305           630   16-Dec-22     161222       630.0

[22664 rows x 5 columns]

In [33]:
credit_scroll["Scroll Date"] = credit_scroll["Scroll Date"].apply(
                lambda x: datetime.strptime(x, "%d-%b-%y").date() if len(x) > 7 else datetime.strptime(x, "%d%m%y").date())
convert_dict = {"Scroll Amt": float}
credit_scroll = credit_scroll.astype(convert_dict)

In [56]:
credit_scroll["Match"] = ""
credit_scroll["Match Num"] = 0
credit_scroll["Challan Dates"] = ""
for i in range(len(credit_scroll)):
    for j in range(len(debit_scroll)):
        if credit_scroll["Scroll Amt"].iloc[i] == debit_scroll["Challan Amt"].iloc[j] and credit_scroll["Scroll Date"].iloc[i] > debit_scroll["Challan Date"].iloc[j]:
            if credit_scroll.at[i, "Match"] == "":
                credit_scroll.at[i, "Match"] = str(debit_scroll["Challan No."].iloc[j])
            else:
                credit_scroll.at[i, "Match"] = credit_scroll["Match"].iloc[i] + "," + str(debit_scroll["Challan No."].iloc[j])
            if credit_scroll.at[i, "Challan Dates"] == "":
                credit_scroll.at[i, "Challan Dates"] = str(debit_scroll["Challan Date"].iloc[j])
            else:
                credit_scroll.at[i, "Challan Dates"] = credit_scroll["Challan Dates"].iloc[i] + "," + str(debit_scroll["Challan Date"].iloc[j])
            credit_scroll.at[i, "Match Num"] = credit_scroll["Match Num"].iloc[i] + 1
credit_scroll

,Sr.No.,Challan No.,Scroll Date,Scroll No.,Scroll Amt,Match,Match Num,Challan Dates
0,1,93,2011-04-29,290411602,93,,0,
1,2,427,2011-03-25,250311105,427,,0,
2,3,150,2013-08-17,170813,150,,0,
3,4,14900,2013-08-17,170813,14900,,0,
4,5,1800,2016-09-26,260916,1800,,0,
...,...,...,...,...,...,...,...,...
17864,17865,435,2022-12-17,171222,435,"23,313779,362922,366745,368609,373170,636263,8...",8,"2022-02-02,2021-04-16,2021-04-15,2021-09-27,20..."
17865,17866,88495,2022-12-16,161222,2100,"59116,358756,362815,890464",4,"2021-04-22,2021-07-22,2021-04-05,2021-12-06"
17866,17867,1095,2022-12-16,161222,1095,"1584,314077,358774,855556,858280",5,"2021-12-11,2021-04-16,2021-08-09,2021-09-27,20..."
17867,17868,630,2022-12-16,161222,630,"165,362894,366385,373518,507075,636206,636276,...",14,"2021-10-04,2021-06-01,2021-12-20,2022-02-07,20..."
17868,17869,330,2022-12-02,21222,330,"84,7570,7572,7583,15299,83929,313787,636552,63...",17,"2021-10-30,2021-12-24,2021-12-26,2022-01-07,20..."

In [31]:
credit_scroll.to_csv("CreditScrollMatching.csv", index=False)

In [58]:
credit_scroll["Match Num"].value_counts()

Match Num
0     7972
1     4096
2     1090
3      804
4      626
5      525
6      427
7      369
8      359
9      298
10     212
11     154
12     150
14     100
13      93
15      71
17      65
16      49
18      41
35      29
26      28
29      27
22      27
24      26
19      24
20      20
25      19
32      18
30      15
31      15
28      14
21      12
33      11
23      10
37       9
40       9
27       7
51       6
52       5
56       4
47       4
46       4
54       4
55       4
36       3
34       3
39       3
49       3
43       2
42       1
44       1
41       1
Name: count, dtype: int64

In [74]:
import time

start = time.time()
match = []
match_num = []
challan_dates = []
for i in range(len(credit_scroll)):
    matchStr = ""
    matchNum = 0
    challanDates = ""
    for j in range(len(debit_scroll)):
        if credit_scroll["Scroll Amt"].iloc[i] == debit_scroll["Challan Amt"].iloc[j] and credit_scroll["Scroll Date"].iloc[i] > debit_scroll["Challan Date"].iloc[j]:
            if matchStr == "":
                matchStr = str(debit_scroll["Challan No."].iloc[j])
            else:
                matchStr = matchStr + "; " + str(debit_scroll["Challan No."].iloc[j])
            if challanDates == "":
                challanDates = str(debit_scroll["Challan Date"].iloc[j])
            else:
                challanDates = challanDates + "; " + str(debit_scroll["Challan Date"].iloc[j])
            matchNum = matchNum + 1
#     print(i, end=" ")
    match.append(matchStr)
    match_num.append(matchNum)
    challan_dates.append(challanDates)
credit_scroll["Match"] = match
credit_scroll["Match_Num"] = match_num
credit_scroll["Chalan_Dates"] = challan_dates
end = time.time()
print("Time taken is ", end-start)
credit_scroll

Time taken is  2600.0409064292908

,Sr.No.,Challan No.,Scroll Date,Scroll No.,Scroll Amt,Match,Match_Num,Chalan_Dates
0,1,93,2011-04-29,290411602,93,,0,
1,2,427,2011-03-25,250311105,427,,0,
2,3,150,2013-08-17,170813,150,,0,
3,4,14900,2013-08-17,170813,14900,,0,
4,5,1800,2016-09-26,260916,1800,,0,
...,...,...,...,...,...,...,...,...
17864,17865,435,2022-12-17,171222,435,23; 313779; 362922; 366745; 368609; 373170; 63...,8,2022-02-02; 2021-04-16; 2021-04-15; 2021-09-27...
17865,17866,88495,2022-12-16,161222,2100,59116; 358756; 362815; 890464,4,2021-04-22; 2021-07-22; 2021-04-05; 2021-12-06
17866,17867,1095,2022-12-16,161222,1095,1584; 314077; 358774; 855556; 858280,5,2021-12-11; 2021-04-16; 2021-08-09; 2021-09-27...
17867,17868,630,2022-12-16,161222,630,165; 362894; 366385; 373518; 507075; 636206; 6...,14,2021-10-04; 2021-06-01; 2021-12-20; 2022-02-07...
17868,17869,330,2022-12-02,21222,330,84; 7570; 7572; 7583; 15299; 83929; 313787; 63...,17,2021-10-30; 2021-12-24; 2021-12-26; 2022-01-07...

In [49]:
debit_scroll["Challan Amt"].value_counts()

Challan Amt
30.0        56
60.0        40
210.0       37
120.0       35
90.0        35
            ..
7640.0       1
9080.0       1
7750.0       1
8680.0       1
245700.0     1
Name: count, Length: 5593, dtype: int64

In [62]:
credit_scroll.iloc[5087]

Sr.No.                                       5088
Challan No.                                  5256
Scroll Date                            2021-07-29
Scroll No.                                 290721
Scroll Amt                                    750
Match                        478774,638457,639731
Match Num                                       3
Challan Dates    2021-07-16,2021-05-27,2021-07-23
Name: 5087, dtype: object

In [61]:
type(credit_scroll.Match.iloc[5087])

str

In [64]:
credit_scroll["Match"] = credit_scroll["Match"].apply(lambda x: "; ".join(x.split(",")))
credit_scroll

,Sr.No.,Challan No.,Scroll Date,Scroll No.,Scroll Amt,Match,Match Num,Challan Dates
0,1,93,2011-04-29,290411602,93,,0,
1,2,427,2011-03-25,250311105,427,,0,
2,3,150,2013-08-17,170813,150,,0,
3,4,14900,2013-08-17,170813,14900,,0,
4,5,1800,2016-09-26,260916,1800,,0,
...,...,...,...,...,...,...,...,...
17864,17865,435,2022-12-17,171222,435,23; 313779; 362922; 366745; 368609; 373170; 63...,8,"2022-02-02,2021-04-16,2021-04-15,2021-09-27,20..."
17865,17866,88495,2022-12-16,161222,2100,59116; 358756; 362815; 890464,4,"2021-04-22,2021-07-22,2021-04-05,2021-12-06"
17866,17867,1095,2022-12-16,161222,1095,1584; 314077; 358774; 855556; 858280,5,"2021-12-11,2021-04-16,2021-08-09,2021-09-27,20..."
17867,17868,630,2022-12-16,161222,630,165; 362894; 366385; 373518; 507075; 636206; 6...,14,"2021-10-04,2021-06-01,2021-12-20,2022-02-07,20..."
17868,17869,330,2022-12-02,21222,330,84; 7570; 7572; 7583; 15299; 83929; 313787; 63...,17,"2021-10-30,2021-12-24,2021-12-26,2022-01-07,20..."

In [65]:
credit_scroll.to_csv("CreditScrollMatching.csv", index=False)

In [78]:
from datetime import date
debit_scroll.loc[debit_scroll["Challan Date"] > date(2022,2,23)]

,Sr.No.,Bank,Challan No.,Challan Date,Challan Amt,ACC Unit,TC Number
45,46,SBI GOVERDHAN,47,2022-02-28,360.0,NCR AGC 04,3.211020e+14
48,49,SBI GOVERDHAN,48,2022-02-28,900.0,NCR AGC 04,3.211020e+14
50,51,SBI GOVERDHAN,49,2022-02-28,1160.0,NCR AGC 04,3.211020e+14
51,52,SBI GOVERDHAN,50,2022-03-02,1055.0,NCR AGC 04,3.211020e+14
53,54,SBI GOVERDHAN,51,2022-03-02,240.0,NCR AGC 04,3.211020e+14
...,...,...,...,...,...,...,...
9007,9008,S B I ALLAHABAD,IKD2781374,2022-03-11,330007.0,NCR ALD 02,3.211020e+14
9008,9009,S B I JHANSI,IKD2782962,2022-03-11,1712722.0,NCR JHS 03,3.211020e+14
9009,9010,S B I ALLAHABAD,IKD2789623,2022-03-13,2051149.0,NCR ALD 02,3.211020e+14
9010,9011,S B I ALLAHABAD,IKD2825938,2022-03-24,1580614.0,NCR ALD 02,3.211020e+14
9011,9012,S B I AGRA,IKD2838736,2022-03-27,163656.0,NCR AGC 04,3.211020e+14

In [54]:
from datetime import timedelta
import time
def match_credit_scroll(credit_scroll, debit_scroll, days=60):
    start = time.time()
    match = []
    match_num = []
    challan_dates = []
    for i in range(len(credit_scroll)):
        matchStr = ""
        matchNum = 0
        challanDates = ""
        sub_scroll = debit_scroll.loc[(debit_scroll["Challan Date"] < credit_scroll["Scroll Date"].iloc[i]) & (debit_scroll["Challan Date"] > credit_scroll["Scroll Date"].iloc[i] - timedelta(days=days))]
        for j in range(len(sub_scroll)):
            if credit_scroll["Scroll Amt"].iloc[i] == sub_scroll["Challan Amt"].iloc[j]:
                if matchStr == "":
                    matchStr = str(sub_scroll["Challan No."].iloc[j])
                else:
                    matchStr = matchStr + "; " + str(sub_scroll["Challan No."].iloc[j])
                if challanDates == "":
                    challanDates = str(sub_scroll["Challan Date"].iloc[j])
                else:
                    challanDates = challanDates + "; " + str(sub_scroll["Challan Date"].iloc[j])
                matchNum = matchNum + 1
#         print(i, end=" ")
        match.append(matchStr)
        match_num.append(matchNum)
        challan_dates.append(challanDates)
    credit_scroll["Match"] = match
    credit_scroll["Match_Num"] = match_num
    credit_scroll["Challan_Dates"] = challan_dates
    end = time.time()
    print("Time taken is ", end-start)
    return credit_scroll

In [ ]:
match_df = match_credit_scroll(credit_scroll, debit_scroll, days=60)
match_df

In [36]:
match_df["Match_Num"].value_counts()

Match_Num
0     9961
1     7978
2     2374
3     1201
4      612
5      306
6      137
7       35
8       16
17      12
9        9
15       6
12       4
14       3
10       3
11       3
16       2
18       1
19       1
Name: count, dtype: int64

In [37]:
match_df.to_csv("CreditScrollMatch.csv", index=False)

In [95]:
from datetime import date
sub_scroll = debit_scroll.loc[(debit_scroll["Challan Date"] < date(2021,6,21)) & (debit_scroll["Challan Date"] > date(2021,6,21) - timedelta(days=60))]
amts = sub_scroll["Challan Amt"]
amts

1190       2130.0
1191       1710.0
1192       3195.0
1193       3030.0
1194       3220.0
          ...
8899    1014538.0
8900    1594154.0
8901     107090.0
8902    2300212.0
8935    1629099.0
Name: Challan Amt, Length: 1029, dtype: float64

In [100]:
from itertools import combinations
import numpy as np

for r in range(2, 4):
    for combination in combinations(amts, r):
        if np.sum(combination) == 63000109:
            print(combination)
    print(r)

2
3

In [30]:
i = 0
for index, amt in enumerate(list(credit_scroll["Scroll Amt"])):
    try:
        a = float(amt)
    except:
        print(i)
        print(amt)
    i+=1
i

10185
.

22664

In [64]:
new_df = credit_scroll[credit_scroll["Match_Num"] !=1]
new_df

,Sr.No.,Challan No.,Scroll Date,Scroll No.,Scroll Amt,Match,Match_Num,Chalan_Dates
0,1,DD945808,2011-10-24,24101164,150.0,,0,
1,2,11306405893,2011-11-09,911117298,17121.0,,0,
2,3,SDL665290,2012-07-19,19071264,84388.0,,0,
3,4,N2011300120,2011-06-30,NEFT1,300.0,,0,
4,5,AMENDED02/12,2012-02-29,NEFT3,10400.0,,0,
...,...,...,...,...,...,...,...,...
22659,18301,22225,2022-12-17,171222,110473.0,,0,
22660,18302,15002,2022-12-02,21222,9055.0,,0,
22661,18303,15014,2022-12-17,171222,11065.0,,0,
22662,18304,435,2022-12-17,171222,435.0,,0,
22663,18305,630,2022-12-16,161222,630.0,,0,

In [77]:
# match_df = match_credit_scroll(new_df, new_debit_scroll, days=90)
# match_df
new_df = match_df[match_df["Match_Num"] !=1 ]
debit_challan = list(match_df[match_df["Match_Num"] == 1]["Challan_Dates"])
new_debit_scroll = debit_scroll[~(debit_scroll["Challan Date"].isin(debit_challan))]
new_debit_scroll = new_debit_scroll.sort_values(["Challan Date"], axis=0, ascending=False)
start = time.time()
match = []
match_num = []
challan_dates = []
matched = []
for i in range(len(new_df)):
    matchStr = ""
    matchNum = 0
    challanDates = ""
    sub_scroll = new_debit_scroll.loc[(new_debit_scroll["Challan Date"] < new_df["Scroll Date"].iloc[i]) & (new_debit_scroll["Challan Date"] > new_df["Scroll Date"].iloc[i] - timedelta(days=60))]
    for j in range(len(sub_scroll)):
        if new_df["Scroll Amt"].iloc[i] == sub_scroll["Challan Amt"].iloc[j]:
            if matchStr == "":
                if f"{sub_scroll['Challan No.'].iloc[j]}:{sub_scroll['Challan Date'].iloc[j]}" not in matched:
                    matchStr = str(sub_scroll["Challan No."].iloc[j])
                    challanDates = str(sub_scroll["Challan Date"].iloc[j])
                    matched.append(f"{matchStr}:{challanDates}")
                    matchNum = matchNum + 1
                    break
                    
#         print(i, end=" ")
    match.append(matchStr)
    match_num.append(matchNum)
    challan_dates.append(challanDates)
new_df["Match"] = match
new_df["Match_Num"] = match_num
new_df["Challan_Dates_New"] = challan_dates
end = time.time()
print("Time taken is ", end-start)
new_df

Time taken is  227.01299691200256

C:\Users\User\AppData\Local\Temp\ipykernel_9916\2660896277.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["Match"] = match
C:\Users\User\AppData\Local\Temp\ipykernel_9916\2660896277.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["Match_Num"] = match_num
C:\Users\User\AppData\Local\Temp\ipykernel_9916\2660896277.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["Challan_Dates"] = challan_dates

,Sr.No.,Challan No.,Scroll Date,Scroll No.,Scroll Amt,Match,Match_Num,Chalan_Dates,Challan_Dates
0,1,DD945808,2011-10-24,24101164,150.0,,0,,
1,2,11306405893,2011-11-09,911117298,17121.0,,0,,
2,3,SDL665290,2012-07-19,19071264,84388.0,,0,,
3,4,N2011300120,2011-06-30,NEFT1,300.0,,0,,
4,5,AMENDED02/12,2012-02-29,NEFT3,10400.0,,0,,
...,...,...,...,...,...,...,...,...,...
22659,18301,22225,2022-12-17,171222,110473.0,,0,,
22660,18302,15002,2022-12-02,21222,9055.0,,0,,
22661,18303,15014,2022-12-17,171222,11065.0,,0,,
22662,18304,435,2022-12-17,171222,435.0,,0,,
22663,18305,630,2022-12-16,161222,630.0,,0,,

In [63]:
debit_challan = list(credit_scroll[credit_scroll["Match_Num"] ==1]["Chalan_Dates"])
new_debit_scroll = debit_scroll[~(debit_scroll["Challan Date"].isin(debit_challan))]

In [78]:
new_df["Match_Num"].value_counts()

Match_Num
0    10494
1     4192
Name: count, dtype: int64

In [58]:
debit_scroll["Challan No."].value_counts()

Challan No.
POS31032018       25
POS010218         23
POS051017         16
POS010118         14
POS290118         14
                  ..
398009             1
398008             1
398005             1
398004             1
nh918058691765     1
Name: count, Length: 18995, dtype: int64

In [79]:
new_df.to_csv("CreditScrollMatching1.csv", index=False)

In [71]:
new_debit_scroll = new_debit_scroll.sort_values(["Challan Date"], axis=0, ascending=False)
new_debit_scroll

,Sr.No.,Bank,Challan No.,Challan Date,Challan Amt,ACC Unit,TC Number
16142,10804,S B I KARCHANA,631650,2018-08-07,765.0,NCR ALD 02,20180200661
17003,11665,SBI DEEG,786310,2018-04-04,16815.0,NCR AGC 04,20180300742
16027,10689,S B I MAITHA,629345,2018-04-04,6125.0,NCR ALD 02,20180300742
10556,5218,S B I RAJGARH,428067,2018-04-04,4785.0,NCR ALD 02,20180300742
11848,6510,S B I THARIYANO,445535,2018-04-04,510.0,NCR ALD 02,20180300742
...,...,...,...,...,...,...,...
117,118,S B I ALLAHABAD,734028,2009-03-19,12000.0,NCR TRF 11,NaN
118,119,R.B.I. KANPUR,734146,2009-01-09,4774.0,NCR TRF 11,NaN
5868,530,S B I AGRA,313127,2007-10-18,124055.0,NCR JHS 03,20171100453
4757,4505,S B I ALLAHABAD,IGAAYZISC1,2007-03-17,66134.0,NCR JHS 07,20170300894
4963,4711,S B I ALLAHABAD,IKC5969828,2007-01-26,3469598.0,NCR ALD 02,20170200855

In [75]:
debit_scroll

,Sr.No.,Bank,Challan No.,Challan Date,Challan Amt,ACC Unit,TC Number
0,1,S B I KHAJURAHO,68055,2015-11-13,36640.0,NCR JHS 03,20151100623
1,2,S.B.I. ETAWAH,148835,2011-02-22,15000.0,NCR TRF 11,NaN
2,3,S.B.I. KANPUR,153174,2011-02-15,90007.0,NCR TRF 11,NaN
3,4,S.B.I. KANPUR,153175,2011-02-17,66371.0,NCR TRF 11,NaN
4,5,S.B.I. KANPUR,153177,2011-02-17,34514.0,NCR TRF 11,NaN
...,...,...,...,...,...,...,...
21392,16054,S B I ALLAHABAD,UTS310817,2017-08-31,1365.0,NCR ALD 02,20170900348
21393,16055,S B I ALLAHABAD,UTS311217,2017-12-31,1070.0,NCR ALD 02,20180100576
21394,16056,S B I VINDHYACHAL,UTS311217,2017-12-31,575.0,NCR ALD 02,20180100576
21395,16057,S B I JHANSI,V14092774,2018-03-28,49000000.0,NCR JHS 06,20180300147
21396,16058,S B I ALLAHABAD,nh918058691765,2018-02-28,2991.0,NCR ALD 02,201803-04911

In [76]:
credit_scroll

,Sr.No.,Challan No.,Scroll Date,Scroll No.,Scroll Amt,Match,Match_Num,Chalan_Dates
0,1,DD945808,2011-10-24,24101164,150.0,,0,
1,2,11306405893,2011-11-09,911117298,17121.0,,0,
2,3,SDL665290,2012-07-19,19071264,84388.0,,0,
3,4,N2011300120,2011-06-30,NEFT1,300.0,,0,
4,5,AMENDED02/12,2012-02-29,NEFT3,10400.0,,0,
...,...,...,...,...,...,...,...,...
22659,18301,22225,2022-12-17,171222,110473.0,,0,
22660,18302,15002,2022-12-02,21222,9055.0,,0,
22661,18303,15014,2022-12-17,171222,11065.0,,0,
22662,18304,435,2022-12-17,171222,435.0,,0,
22663,18305,630,2022-12-16,161222,630.0,,0,